/*SCHOOL PAGE*/

#schoolBox {
	margin: auto;
    text-align: left;
    font-size: 28px;   
    line-height: 12px;  
    overflow: hidden; 
}

#content h1 {
    font-size: 15px;
}

.schoolIcon {
	display: inline-block;
	width: 224px;
	min-height: 60px;
	margin-bottom: 10px;

	vertical-align: middle;

	font-size: 14px;  
	text-align: left;
    letter-spacing: normal;  
    white-space: normal;  
    line-height: normal;  
    overflow: hidden;
}

.schoolIcon {  
    *display: inline;  
    *margin: 0 20px 0 20px;  
} 